score reaction and subsystem pathways on Th17 Compass data  
different filtering for min number of genes in pathway

In [1]:
import pandas as pd
import scanpy as sc
import sys
import numpy as np
import scipy
import joblib
import matplotlib.pyplot as plt
from utils import *

In [2]:
out_file_path = './'
data_dir = out_file_path + 'data/'
gene_signature_dir = out_file_path + 'gene_signatures/'
out_dir = out_file_path + 'compass_hypergeom_results/'

From DESeq2, look for enrichment of metabolism terms in DE genes

**read gene signatures**

In [3]:
out_filename = gene_signature_dir + 'metabolism_rxn_subsystem.pickle'
subsystem_to_genes = joblib.load(out_filename)
metabolism_sig = {key: [item[0] for item in subsystem_to_genes[key]] for key in subsystem_to_genes}

In [7]:
out_filename = gene_signature_dir + 'metabolism_rxn_reaction.pickle'
reaction_sig_genes = joblib.load(out_filename)
reaction_sig = {k: v[0] for k,v in reaction_sig_genes.items()}

In [9]:
for k,v in metabolism_sig.items():
    print(f'{k}: {len(v)}')

Fatty acid oxidation: 32
Nucleotide interconversion: 102
Keratan sulfate degradation: 11
Sphingolipid metabolism: 29
Tyrosine metabolism: 34
Keratan sulfate synthesis: 15
Steroid metabolism: 25
Chondroitin synthesis: 30
Tryptophan metabolism: 36
Glycerophospholipid metabolism: 61
Inositol phosphate metabolism: 60
Folate metabolism: 11
Valine, leucine, and isoleucine metabolism: 31
Chondroitin sulfate degradation: 10
Cholesterol metabolism: 22
Arginine and Proline Metabolism: 33
Bile acid synthesis: 9
Fatty acid synthesis: 8
Glycine, serine, alanine and threonine metabolism: 23
Pyrimidine catabolism: 23
Blood group synthesis: 5
Pyruvate metabolism: 32
Aminosugar metabolism: 26
Heparan sulfate degradation: 6
Urea cycle: 17
Purine catabolism: 13
Eicosanoid metabolism: 19
Methionine and cysteine metabolism: 20
Lysine metabolism: 25
Starch and sucrose metabolism: 14
Pentose phosphate pathway: 12
NAD metabolism: 14
Vitamin A metabolism: 15
beta-Alanine metabolism: 21
Triacylglycerol synthesis: 24
Glyoxylate and dicarboxylate metabolism: 29
Glutamate metabolism: 11
Alanine and aspartate metabolism: 11
Histidine metabolism: 21
Selenoamino acid metabolism: 16
Tetrahydrobiopterin metabolism: 5
Glutathione metabolism: 13
Propanoate metabolism: 17
Biotin metabolism: 2
Limonene and pinene degradation: 13
Phenylalanine metabolism: 10
ROS detoxification: 4
Glycolysis/gluconeogenesis: 11
Pyrimidine synthesis: 6
Heme synthesis: 6
Galactose metabolism: 13
Purine synthesis: 4
Transport, extracellular: 18
Miscellaneous: 13
Hyaluronan metabolism: 7
Fructose and mannose metabolism: 12
C5-branched dibasic acid metabolism: 3
Oxidative phosphorylation: 65
N-glycan degradation: 6
Nucleotide salvage pathway: 2
Vitamin B2 metabolism: 7
Butanoate metabolism: 9
Vitamin C metabolism: 13
Cytochrome metabolism: 3
Vitamin B6 metabolism: 2
Taurine and hypotaurine metabolism: 4
Phosphatidylinositol phosphate metabolism: 7
Transport, mitochondrial: 2
Nucleotide sugar metabolism: 2
Alkaloid synthesis: 4
CoA synthesis: 2
Stilbene, coumarine and lignin synthesis: 1
O-glycan synthesis: 1
Ubiquinone synthesis: 1
CoA catabolism: 4
Citric acid cycle: 1
Transport, lysosomal: 22
Vitamin B12 metabolism: 1
N-glycan synthesis: 4
D-alanine metabolism: 1
Thiamine metabolism: 1

In [11]:
print(len(metabolism_sig.keys()))

81

In [12]:
for k,v in reaction_sig.items():
    print(f'{k}: {len(v)}')

13DAMPPOX: 3
2HBO: 5
2OXOADOXm: 4
34DHOXPEGOX: 6
34DHPHAMT: 1
34DHPLACOX: 4
34DHPLACOX_NADP_: 3
34DHXMANDACOX: 3
34DHXMANDACOX_NADP_: 2
34HPPOR: 1
3AIBTm: 1
3DSPHR: 1
3HAO: 1
3HBCDm: 1
3HKYNAKGAT: 2
3HLYTCL: 1
3HPCOAHYD: 1
3HXKYNOXDA: 2
3M4HDXPAC: 4
3MOX4HOXPGALDOX: 4
3MOX4HOXPGALDOX_NADP_: 4
3MOXTYROX: 2
3NTD7l: 4
3SALACBOXL: 3
3SALATAi: 1
3SALATAim: 1
41R1H2MAE12BOOX: 2
41R2A1H12BOOX: 2
42A12BOOX: 5
4HGLSDm: 1
4HOXPACDOX_NADP_: 4
4NPHSULT: 1
5ADTSTSTERONESULT: 2
5HLTDL: 1
5HOXINDACTO2OX: 1
5HOXINDACTOXm: 3
5HOXINOXDA: 2
5HTRPDOX: 1
5HXKYNDCL: 1
5HXKYNOXDA: 2
A4GALTc: 1
A4GALTg: 1
AACOAT: 1
AACTOOR: 1
AATAi: 1
ABTArm: 1
ABUTD: 1
ACACT10m: 3
ACACT1x: 1
ACACT4p: 1
ACACT5p: 1
ACACT6p: 1
ACACT7p: 1
ACACT8p: 1
ACACT9p: 1
ACCOACm: 1
ACCOAL: 1
ACCOALm: 2
ACGAM2E: 1
ACGAM6PSi: 1
ACGAMK: 1
ACGAMPM: 1
ACGPID: 1
ACGSm: 1
ACHEe: 1
ACNAM9PL: 1
ACNAM9PL2: 1
ACNAMPH: 3
ACOAD10m: 2
ACOAD1fm: 7
ACOAD8m: 1
ACOAD9m: 2
ACOAO7p: 1
ACOATA: 1
ACODA: 1
ACOX22x: 1
ACOX2x: 1
ACP1_FMN_: 4
ACS: 2
ACS2: 2
ACSm: 1
ACSOMT: 1
ACSRTNMT: 1
ACYP: 3
ADA: 1
ADAe: 1
ADK1m: 2
ADKd: 1
ADMDC: 1
ADNCYC: 10
ADPGLC: 1
ADPMAN: 1
ADPRDP: 1
ADPRDPm: 1
ADPT: 1
ADRNCPT1: 3
ADSELK: 2
ADSK: 2
ADSL1: 1
ADSL2: 1
ADSS: 2
AG13T10g: 7
AG13T11g: 7
AG13T12g: 7
AG13T13g: 7
AG13T14g: 7
AG13T15g: 7
AG13T16g: 7
AG13T17g: 7
AG13T18g: 7
AG13T1g: 7
AG13T2g: 7
AG13T3g: 7
AG13T4g: 7
AG13T5g: 7
AG13T6g: 7
AG13T7g: 7
AG13T8g: 7
AG13T9g: 7
AGDC: 1
AGMTm: 1
AGPAT1: 7
AGPRim: 1
AGPSx: 1
AGTim: 2
AGTix: 1
AHC: 2
AHEXASE2ly: 2
AHEXASEly: 2
AICART: 1
AKR1C1: 1
AKR1C41: 1
AKR1C42: 1
AKR1D: 1
AKR1D2: 1
ALAR: 1
ALASm: 3
ALATA_L: 2
ALCD1: 7
ALCD21_D: 7
ALCD21_L: 7
ALCD22_D: 7
ALCD22_L: 7
ALDD20xm: 3
ALKP: 2
ALOX12: 1
ALOX12R: 1
ALOX15: 2
ALOX5: 1
ALOX52: 1
ALR2: 3
ALR3: 3
AMACR2p: 1
AMACR2r: 1
AMACRp: 1
AMACRr: 1
AMANK: 2
AMPDA: 3
AMPTASECG: 1
AMPTASECGe: 1
AP4AH1: 1
APAT2rm: 1
APRTO2: 2
ARABR: 3
ARACHCPT1: 3
ARGDCm: 1
ARGN: 2
ARGNm: 1
ARSA: 1
ASAH1: 1
ASNNm: 1
ASNS1: 1
ASP1DC: 1
ASPCTr: 1
ASPTA: 1
ASPTAm: 1
ATPasel: 22
ATPH1e: 5
ATPH2e: 6
ATPS4m: 17
B3GALT3g: 1
B3GALT41g: 1
B3GALT42g: 1
B3GALT43g: 1
B3GALT44g: 1
BAAT1x: 1
BAAT2x: 1
BAAT3x: 1
BAAT4x: 1
BACCL: 1
BACCLm: 1
BAMPPALDOX: 5
BAMPPALDOXm: 3
BBHOX: 1
BCDO: 1
BDHm: 1
BHMT: 2
BPNT: 1
BPNT2: 1
BTND1: 1
BTND1n: 1
BTNDe: 1
BTNDm: 1
BUP2: 1
C14STRr: 1
C160CPT1: 3
C160CPT2: 2
C161CPT1: 3
C161CPT12: 3
C161CPT22: 1
C180CPT1: 3
C180CPT2: 1
C181CPT1: 3
C204CPT1: 3
C226CPT1: 3
C2M26DCOAHLm: 3
C2M26DCOAHLx: 2
CAATPS: 4
CAT2p: 1
CATm: 1
CBLATm: 1
CBPSam: 1
CBR1: 1
CBR2: 1
CDIPTr: 1
CDS: 2
CDSm: 2
CERK: 1
CHAT: 1
CHATn: 1
CHLPCTD: 2
CHOLD2m: 1
CHSTEROLSULT: 2
CHTNASE: 3
CHTNASEe: 1
CK: 2
CKc: 2
CLPNDCPT1: 3
CMPSAS: 1
CMPSASn: 1
COKECBESr: 1
CPCTDTX: 2
CPPPGO: 1
CSNAT2m: 1
CSNAT2x: 2
CSNAT3x: 1
CSNATer: 1
CSNATm: 1
CSNATp: 1
CSNATr: 1
CYSO: 1
CYSTA: 1
CYSTAm: 1
CYSTGL: 1
CYSTS: 1
CYTD: 2
CYTDn: 1
CYTK10: 1
CYTK10n: 1
CYTK11: 1
CYTK11n: 1
CYTK12: 1
CYTK12n: 1
CYTK13: 1
CYTK13n: 1
CYTK14: 1
CYTK14n: 1
CYTK1n: 1
CYTK2n: 1
CYTK3n: 1
CYTK4n: 1
CYTK5: 1
CYTK5n: 1
CYTK6: 1
CYTK6n: 1
CYTK7: 1
CYTK7n: 1
CYTK8: 1
CYTK8n: 1
CYTK9: 1
CYTK9n: 1
D3AIBTm: 1
DADA: 1
DADAe: 1
DAGK_hs: 9
DAGKn_hs: 2
DALAOXx: 1
DARGOp: 1
DASCBR: 2
DASPO1p: 1
DCIm: 2
DCK1n: 1
DCK2n: 1
DCMPDA: 1
DCSPTN1CPT1: 3
DCT: 1
DCYTD: 2
DCYTDn: 1
DESAT16_2: 1
DESAT18_10: 1
DESAT18_3: 1
DESAT18_4: 1
DESAT18_5: 1
DESAT18_6: 1
DESAT18_7: 1
DESAT18_8: 1
DESAT18_9: 2
DESAT20_1: 1
DESAT20_2: 1
DESAT24_1: 1
DGNSKm: 1
DHAPA: 1
DHAPAx: 1
DHCR71r: 1
DHCR72r: 1
DHDPBMTm: 1
DHEASULT: 3
DHFR: 1
DHORD9: 1
DHORTS: 1
DHPM1: 3
DHPM2: 1
DHPR: 1
DLNLCGCPT1: 3
DMATT: 1
DMATTx: 1
DMGDHm: 1
DNAMTn: 4
DNAMTSEn: 4
DOPABMO: 2
DOPACHRMISO: 1
DOPAMT: 1
DOPASULT: 1
DORNOp: 1
DPMVDx: 1
DPROOp: 1
DRBK: 1
DRPA: 1
DURAD: 1
DURAD2: 1
DURIK1: 2
DURIK1m: 1
DUTPDPm: 2
DUTPDPn: 1
EBP1r: 1
EBP2r: 1
ECOAH12m: 3
ECOAH1m: 4
ECOAH1x: 2
ECOAH9m: 3
EHGLAT: 1
EHGLAT2m: 1
EHGLATm: 1
EICOSTETCPT1: 3
ELAIDCPT1: 3
EPCTX: 1
ESTSULT: 2
ETFQO: 1
ETHAK: 4
FA120ACPH: 1
FA140ACPH: 1
FA141ACPH: 1
FA160ACPH: 2
FA161ACPH: 1
FA180ACPH: 1
FA181ACPH: 1
FA182ACPH: 1
FACOAL140i: 1
FACOAL150: 3
FACOAL160i: 5
FACOAL170: 3
FACOAL180i: 3
FACOAL1812: 1
FACOAL1813: 1
FACOAL181i: 4
FACOAL1821: 4
FACOAL1822: 1
FACOAL1831: 6
FACOAL1832: 1
FACOAL184: 1
FACOAL191: 1
FACOAL200: 1
FACOAL203: 1
FACOAL204: 4
FACOAL2042: 1
FACOAL205: 1
FACOAL206: 1
FACOAL224: 1
FACOAL2251: 1
FACOAL2252: 1
FACOAL226: 1
FACOAL240: 1
FACOAL241: 1
FACOAL244_1: 1
FACOAL245_1: 1
FACOAL245_2: 1
FACOAL246_1: 1
FACOAL260: 1
FACOAL40im: 1
FACOAL80i: 1
FADDP: 2
FAEL183: 4
FAEL184: 4
FAEL204: 4
FAEL205: 4
FALDH: 1
FAOXC11: 1
FAOXC140: 2
FAOXC150m: 2
FAOXC160: 2
FAOXC16080m: 2
FAOXC16080x: 4
FAOXC161802m: 2
FAOXC16180m: 2
FAOXC170m: 1
FAOXC180: 2
FAOXC180x: 4
FAOXC1811601m: 2
FAOXC1811602m: 2
FAOXC1811603m: 2
FAOXC182806m: 2
FAOXC18280m: 2
FAOXC183803m: 2
FAOXC183806m: 2
FAOXC183806x: 4
FAOXC18480m: 2
FAOXC18480x: 4
FAOXC200180m: 2
FAOXC200180x: 4
FAOXC2031836m: 2
FAOXC204: 2
FAOXC204184m: 2
FAOXC2051843m: 2
FAOXC2051843x: 4
FAOXC2242046m: 2
FAOXC2242046x: 4
FAOXC2251836m: 2
FAOXC2251836x: 4
FAOXC2252053m: 2
FAOXC2252053x: 4
FAOXC226: 2
FAOXC226205m: 2
FAOXC226205x: 4
FAOXC240200x: 4
FAOXC241181x: 4
FAOXC2442246x: 4
FAOXC2452253x: 4
FAOXC2452256x: 4
FAOXC246226x: 4
FAOXC260240x: 4
FAOXC80: 2
FAS100COA: 4
FAS120COA: 4
FAS140COA: 4
FAS160COA: 4
FAS180COA: 4
FAS80COA_L: 1
FBA2: 3
FBA4: 3
FBA5: 1
FCLTm: 1
FDH: 1
FKYNH: 1
FMNAT: 1
FPGS: 1
FPGS2: 1
FPGS2m: 1
FPGS3: 1
FPGS3m: 1
FPGS4: 1
FPGS4m: 1
FPGS5: 1
FPGS5m: 1
FPGS6: 1
FPGS6m: 1
FPGS7: 1
FPGS7m: 1
FPGS8: 1
FPGS8m: 1
FPGS9: 1
FPGS9m: 1
FPGSm: 1
FRTT: 1
FTCD: 1
FTHFCL: 1
FTHFDH: 2
FTHFLm: 2
FUCASE2e: 1
FUCASE2ly: 1
FUMAC: 1
FUT11g: 1
FUT12g: 1
FUT14g: 1
FUT15g: 1
FUT16g: 1
FUT17g: 1
FUT18g: 1
FUT910g: 1
FUT911g: 1
FUT91g: 1
FUT92g: 1
FUT93g: 1
FUT94g: 1
FUT95g: 1
FUT96g: 1
FUT97g: 1
FUT98g: 1
FUT99g: 1
G14T10g: 4
G14T11g: 4
G14T12g: 4
G14T13g: 4
G14T14g: 4
G14T15g: 4
G14T16g: 4
G14T17g: 4
G14T18g: 4
G14T19g: 4
G14T20g: 4
G14T21g: 4
G14T2g: 4
G14T3g: 4
G14T4g: 4
G14T5g: 4
G14T6g: 4
G14T7g: 4
G14T8g: 4
G14T9g: 4
G14Tg: 4
G3PD1: 1
G3PD2m: 1
G5SDym: 1
G6PDA: 2
G6PDH1rer: 1
G6PDH2rer: 2
G6PPer: 3
GACMTRc: 1
GAL3ST11: 1
GAL3ST12: 1
GALASE10ly: 4
GALASE11ly: 4
GALASE12ly: 4
GALASE13ly: 4
GALASE14ly: 4
GALASE15ly: 4
GALASE16ly: 4
GALASE17ly: 4
GALASE18ly: 4
GALASE19ly: 4
GALASE1ly: 4
GALASE20ly: 4
GALASE3ly: 4
GALASE4ly: 4
GALASE5ly: 4
GALASE6ly: 4
GALASE7ly: 4
GALASE8ly: 4
GALASE9ly: 4
GALC: 1
GALGT1: 1
GALGT2: 1
GALGT3: 1
GALGT4: 1
GALNACT1g: 2
GALNACT2g: 5
GALNACT3g: 5
GALNACT4g: 5
GALNACT5g: 5
GALOR: 2
GALT2g: 1
GALTg: 1
GAMYe: 1
GARFT: 1
GASNASE3ly: 1
GBAl: 1
GBGT1: 1
GCALDD: 9
GCALDDm: 6
GCC2am: 4
GCC2bim: 4
GCC2cm: 4
GCCam: 4
GCCbim: 4
GCCcm: 4
GCNTg: 1
GF6PTA: 2
GGLUCT: 1
GGT5r: 1
GHMT2r: 1
GHMT2rm: 2
GHMT3: 1
GHMT3m: 1
GLACO: 8
GLACOm: 3
GLAl: 1
GLB1: 4
GLBRAN: 1
GLCAASE1ly: 1
GLCAASE4ly: 1
GLCAASE5ly: 1
GLCAASE6ly: 1
GLCAASE7ly: 1
GLCAASE8ly: 2
GLCAASE9ly: 1
GLCAE2g: 1
GLCAT2g: 4
GLCAT3g: 4
GLCAT4g: 4
GLCAT5g: 4
GLCAT6g: 2
GLCAT7g: 2
GLCAT8g: 2
GLCAT9g: 2
GLCATg: 3
GLCNACASE1ly: 1
GLCNACASE2ly: 1
GLCNACASE3ly: 1
GLCNACASE4ly: 1
GLCNACASE5ly: 1
GLCNACT1g: 2
GLCNACT2g: 4
GLCNACT3g: 4
GLCNACT4g: 4
GLCNACT5g: 4
GLDBRAN: 1
GLGNS1: 3
GLPASE1: 3
GLPASE2: 3
GLU5Km: 1
GLUDC: 2
GLUDxm: 1
GLUDym: 1
GluForTx: 1
GLUNm: 2
GLUPRT: 1
GLUTCOADHm: 1
GLXO1: 6
GLXO2p: 2
GLYAMDTRc: 1
GLYATm: 1
GLYCLTDy: 1
GLYKm: 2
GLYOX: 2
GLYOXm: 1
GMPR: 2
GND: 1
GNDer: 1
GNMT: 1
GPAM_hs: 2
GPAMm_hs: 4
GRTT: 1
GRTTx: 1
GTHO: 1
GTHOm: 1
GTHP: 5
GTHPe: 5
GTHPm: 3
GTMLTe: 1
GTPCI: 1
GTPCIn: 1
GUACYC: 8
GUAD: 1
GUAPRT: 1
H2CO3Dm: 2
HACD1m: 4
HACD9m: 3
HAS1: 3
HAS2: 3
HEX10: 5
HEX4: 5
HEX7: 5
HEXCCPT1: 3
HGNTOR: 1
HIBDm: 1
HISD: 1
HISDC: 2
HISTASE: 2
HKt: 2
HKYNH: 1
HMBS: 1
HMGCOARr: 1
HMGCOASi: 1
HMGCOASim: 1
HMGLm: 2
HMGLx: 1
HPDCACRNCPT1: 3
HPYRR2x: 5
HPYRRy: 1
HS1ly: 1
HS2ly: 1
HS3ly: 1
HS4ly: 1
HSD11B1r: 1
HSD17B1: 2
HSD17B2r: 1
HSD17B7r: 1
HSD17B8r: 1
HSD17B9r: 1
HSD3A1r: 1
HXPRT: 1
ICDHyrm: 1
IDHPOXOX2b: 1
IDHPOXOX3: 1
IDHPOXOX4: 1
IDHPOXOXb: 1
IDOAASE1ly: 1
IDOAASE2ly: 1
IDOAASE3ly: 1
IDOAASE4ly: 1
ILETA: 1
ILETAm: 1
IMACTD: 5
IMACTD_m: 3
IMPC: 1
IMPD: 2
INOSTO: 1
IPDDIx: 2
ITCOAL1m: 2
ITCOALm: 2
KAS8: 4
KHK2: 1
KHK3: 1
KYN: 1
KYN3OX: 1
KYNAKGAT: 2
LACZly: 4
LALDO2x: 1
LAPCOAl: 4
LCADi: 9
LCADi_D: 9
LCADi_Dm: 6
LCADim: 6
LCAT1e: 1
LCYSTAT: 1
LCYSTATm: 1
LCYSTCBOXL: 3
LDH_D: 1
LDH_Lm: 3
LEUTA: 1
LEUTAm: 1
LFORKYNHYD: 1
LGNCCPT1: 3
LGTHL: 1
LNELDCCPT1: 3
LNLCCPT1: 3
LNLNCACPT1: 3
LNLNCGCPT1: 3
LNLNCGCPT2: 1
LNS14DM: 1
LNSTLSr: 1
LPCOXp: 1
LPS: 4
LPS2: 2
LPS2e: 1
LPS3: 1
LPS3e: 1
LPSe: 7
LSTO1r: 1
LSTO2r: 2
LTA4H: 1
LTC4Sr: 3
LTDCL: 1
LYSMTF1n: 10
LYSMTF2n: 10
LYSMTF3n: 10
MACACI: 1
MACOXO: 5
MALT: 3
MALTe: 1
MALTly: 1
MAN6PI: 1
MAOLNOR: 2
MAOX: 3
MCCCrm: 2
MCDm: 1
MCLOR: 5
MCOATA: 1
MCOATAm: 1
MCPST: 1
MECOALm: 2
MECOAS1m: 2
MELATN23DOX: 1
MELATNOX: 3
METS: 1
MEVK1x: 1
MGCHrm: 1
MHISOR: 3
MI1345PP: 7
MI1346PKn: 1
MI134PP: 1
MI1456PKn: 1
MI145P6Kn: 1
MI145PK: 3
MI145PKn: 1
MI145PP: 7
MI14PP: 1
MI1PP: 4
MI1PS: 1
MI34PP: 2
MI3PP: 2
MI4PP: 2
MLTG1: 1
MLTG1ly: 1
MMCD: 1
MMCDm: 1
MMCDp: 1
MMEm: 1
MMMm: 1
MMSAD1m: 1
MMSAD3m: 1
MTAP: 1
MTHFC: 2
MTHFCm: 2
MTHFD: 2
MTHFD2: 2
MTHFD2m: 1
MTHFDm: 3
NABTNO: 5
NABTNOm: 3
NACASPAH: 2
NACHEX10ly: 2
NACHEX11ly: 2
NACHEX12ly: 2
NACHEX13ly: 2
NACHEX14ly: 2
NACHEX15ly: 2
NACHEX16ly: 2
NACHEX17ly: 2
NACHEX18ly: 2
NACHEX19ly: 2
NACHEX1ly: 2
NACHEX20ly: 2
NACHEX21ly: 2
NACHEX22ly: 2
NACHEX23ly: 2
NACHEX24ly: 2
NACHEX25ly: 2
NACHEX26ly: 2
NACHEX27ly: 2
NACHEX2ly: 2
NACHEX3ly: 2
NACHEX4ly: 2
NACHEX5ly: 2
NACHEX6ly: 2
NACHEX7ly: 2
NACHEX8ly: 2
NACHEX9ly: 2
NADH2_u10m: 45
NADNe: 1
NADPNe: 1
NAGA2ly: 1
NAGAly: 1
NaKt: 8
NBAHH_ir: 2
NDP10ex: 4
NDP3ex: 4
NDP6: 1
NDP7er: 3
NDP7ex: 4
NDP7g: 1
NDP8: 1
NDP8ex: 4
NDPK10: 5
NDPK10m: 1
NDPK10n: 2
NDPK1m: 2
NDPK1n: 2
NDPK2m: 1
NDPK2n: 2
NDPK3m: 2
NDPK3n: 2
NDPK4m: 1
NDPK4n: 2
NDPK5m: 2
NDPK5n: 2
NDPK6m: 2
NDPK6n: 2
NDPK7m: 1
NDPK7n: 2
NDPK8m: 2
NDPK8n: 2
NDPK9: 5
NDPK9m: 1
NDPK9n: 2
NMNATm: 1
NMNATn: 1
NMPTRCOX: 3
NNATm: 1
NNATn: 1
NNATr: 3
NNMT: 1
NORANMT: 1
NOS1: 3
NOS2: 3
NP1: 1
NRPPHRSULT: 1
NRVNCCPT1: 3
NT5C: 6
NTD1: 2
NTD10: 6
NTD11: 5
NTD12: 2
NTD1m: 1
NTD2: 1
NTD2e: 1
NTD2l: 4
NTD2m: 1
NTD3: 6
NTD3l: 4
NTD4: 6
NTD4e: 2
NTD4l: 4
NTD5: 6
NTD5l: 4
NTD5m: 1
NTD6: 6
NTD6l: 4
NTD7: 5
NTD7e: 2
NTD7l: 4
NTD8: 6
NTD8l: 4
NTD9: 5
NTD9e: 2
NTD9l: 4
NTP3e: 4
NTPP10: 1
NTPP11: 1
NTPP9: 1
OCBTm: 1
OCOAT1m: 2
OIVD1m: 4
OIVD2m: 4
OIVD3m: 4
OMPDC: 1
OPAHir: 1
ORNDC: 1
ORNTArm: 1
ORPT: 1
P45011A1m: 1
P45011B11m: 1
P45011B12m: 1
P45011B21m: 1
P45017A1r: 1
P45017A2r: 1
P45017A3r: 1
P45017A4r: 1
P45019A1r: 1
P45019A2r: 1
P4501B1r: 2
P45021A1r: 1
P45021A2r: 1
P45027A11m: 1
P45027A12m: 1
P45027A13m: 1
P45027A14m: 1
P45027A15m: 1
P45027A16m: 1
P4502A6: 1
P4502C18: 1
P4504B1r: 1
P4507A1r: 1
P5CDm: 1
P5CRm: 1
P5CRxm: 1
PAFH: 4
PAFHe: 1
PCFLOPm: 1
PCHOLP_hs: 2
PCHOLPg_hs: 1
PCHOLPm_hs: 1
PCHOLPr_hs: 1
PCLAD: 1
PCLYSOX: 3
PCm: 1
PDE1: 16
PDE1g: 1
PDE4: 16
PDE4g: 1
PDE4n: 1
PDX5PO: 1
PEAMNO: 4
PEFLIP: 3
PEFLIPm: 2
PETHCT: 1
PETOHMm_hs: 1
PETOHMr_hs: 1
PGCD: 1
PGDI: 2
PGDIr: 2
PGESr: 2
PGISr: 1
PGLer: 1
PGLYCP: 1
PGPPT: 1
PGS: 2
PGSr: 2
PHCDm: 1
PHETA1: 1
PHETA1m: 2
PHETHPTOX2: 1
PHYCBOXL: 1
PHYHx: 1
PI345P3P: 1
PI345P3Pn: 1
PI3P4K: 6
PI3P5K: 3
PI45P3K: 9
PI45P5P: 5
PI45PLC: 15
PI45PLCn: 1
PI4P3K: 12
PI4P3Ker: 1
PI4P5K: 7
PI5P4K: 3
PIACGT: 6
PIK3: 13
PIK3er: 1
PIK4: 3
PIPLC: 15
PIPLCn: 1
PLA2_2: 9
PLA2_2e: 8
PMEVKx: 1
PMI12346PH: 2
PMI12346PHn: 3
PNP: 1
PNTKm: 1
PPA: 2
PPAer: 3
PPAm: 1
PPAP: 3
PPBNGS: 1
PPCDC: 1
PPCOACm: 2
PPCOAOm: 7
PPDOx: 1
PPDOy: 3
PPOR: 1
PPPGOm: 1
PRGNLONESULT: 3
PROAKGOX1r: 3
PROD2: 1
PROD2m: 1
PRPNCOAHYDm: 5
PRPNCOAHYDx: 1
PSERT: 1
PSP_L: 1
PSSA1_hs: 1
PSSA2_hs: 1
PTDCACRNCPT1: 3
PTHPS: 1
PTHPSn: 1
PTRCAT1: 2
PTRCOX1: 3
PUNP1: 1
PUNP2: 1
PUNP3: 1
PUNP4: 1
PUNP5: 1
PUNP6: 1
PUNP7: 1
PYAM5POr: 1
PYDXDH: 1
PYLALDOX: 5
PYLALDOXm: 3
PYNP2r: 2
RBK_D: 1
RDH1: 2
RDH1a: 7
RDH2: 1
RDH2a: 6
RDH3: 1
RDH3a: 5
RDH4: 1
RNDR1: 3
RNDR2: 3
RNDR3: 3
RNDR4: 3
RNMK: 1
RTOTAL2CRNCPT1: 3
RTOTAL3CRNCPT1: 3
RTOTALCRNCPT1: 3
S23T2g: 3
S23T3g: 1
S23T4g: 3
S23Tg: 1
S2TASE1ly: 1
S2TASE2ly: 1
S2TASE3ly: 1
S3T1g: 3
S3T2g: 3
S3T3g: 3
S4T1g: 3
S4T2g: 3
S4T3g: 3
S4T6g: 3
S4TASE1ly: 1
S4TASE2ly: 1
S4TASE3ly: 1
S4TASE4ly: 1
S4TASE5ly: 1
S6T19g: 2
S6T20g: 2
S6T21g: 2
S6T22g: 1
S6T23g: 1
S6T24g: 2
S6TASE10ly: 4
S6TASE11ly: 1
S6TASE12ly: 1
S6TASE13ly: 1
S6TASE14ly: 1
S6TASE15ly: 1
S6TASE16ly: 1
S6TASE17ly: 1
S6TASE18ly: 1
S6TASE19ly: 1
S6TASE1ly: 1
S6TASE20ly: 1
S6TASE21ly: 1
S6TASE22ly: 4
S6TASE23ly: 1
S6TASE24ly: 1
S6TASE25ly: 4
S6TASE26ly: 1
S6TASE2ly: 1
S6TASE3ly: 1
S6TASE4ly: 4
S6TASE5ly: 4
S6TASE6ly: 4
S6TASE7ly: 4
S6TASE8ly: 4
S6TASE9ly: 4
SACCD3m: 1
SACCD4m: 1
SADT: 2
SALMCOM: 2
SALMCOM2: 1
SAMHISTA: 1
SARCOXp: 1
SARDHm: 1
SBTR: 3
SEAHCYSHYD: 3
SELADT: 2
SELCYSLY: 1
SELCYSTGL: 1
SELCYSTS: 1
SELMETAT: 2
SELNPS: 2
SERPT: 3
SFGTH: 1
SGPL11r: 1
SGPL12r: 1
SIAASE2ly: 4
SIAASE3ly: 4
SIAASE4ly: 4
SIAASEly: 4
SIAT4Bg: 1
SIAT9g: 1
SLDx: 2
SLDxm: 1
SPMS: 1
SPODM: 1
SPODMe: 1
SPODMm: 1
SPODMn: 1
SPODMx: 1
SPR: 1
SPRMS: 2
SPRn: 1
SPTix: 1
SQLEr: 1
SQLSr: 1
SR5AR2r: 2
SR5ARr: 2
SRTN23OX: 1
SRTNACT: 1
SRTNMTX: 1
ST3GAL23g: 1
ST3GAL31g: 1
ST6GALNAC21: 1
ST6GALNAC22: 1
ST6GALNAC23: 1
ST6GALNAC24: 1
ST6GALNAC25: 1
ST6GALNAC26: 1
ST6GALNAC27: 1
ST6GALNAC28: 1
ST8SIA11: 1
ST8SIA12: 1
ST8SIA51g: 1
ST8SIA52g: 1
ST8SIA53g: 1
ST8SIA54g: 1
ST8SIA55g: 1
ST8SIA56g: 1
STRDNCCPT1: 3
SUCRe: 2
T2M26DCOAHLm: 3
T2M26DCOAHLx: 2
T4HCINNOX: 1
TDPGDH: 1
TETPENT3CPT1: 3
TETPENT6CPT1: 3
TETTET6CPT1: 3
THBPT4ACAMDASE: 1
THD1m: 1
THMTP: 1
THRD_L: 2
THRS: 1
THYPX: 1
TMABADH: 1
TMDK1m: 1
TMDPP: 1
TMDS: 1
TMLYSOX: 1
TMNDNCCPT1: 3
TRDR: 1
TRDR2: 1
TRDR3: 1
TRDRm: 2
TREH: 2
TREHe: 1
TRIODTHYSULT: 1
TRPHYDRO2: 2
TRPO2: 3
TRYPTAOX: 4
TSTSTERONESULT: 2
TTDCPT1: 3
TYMSULT: 1
TYR3MO2: 1
TYRCBOX: 1
TYRDOPO: 1
TYRDOPO3: 1
TYROXDAc: 2
TYRTA: 2
TYRTAm: 2
UAG2EMAi: 1
UAG4E: 1
UAGDP: 2
UDPGD: 1
UDPGLDCg: 1
UGALGTg: 3
UGCG: 1
UGT1A10r: 1
UGT1A1r: 1
UGT1A2r: 4
UGT1A3r: 2
UGT1A4r: 2
UGT1A5r: 1
UGT1A5r2: 5
UGT1A6r: 1
UGT1A7r: 1
UGT1A8r: 2
UGT1A9r: 1
UMPK2: 1
UMPK2n: 1
UMPK3: 1
UMPK3n: 1
UMPK4: 1
UMPK4n: 1
UMPK5: 1
UMPK5n: 1
UMPK6: 1
UMPK6n: 1
UMPK7: 1
UMPK7n: 1
UMPKn: 1
UPPDC1: 1
UPPN: 1
URIK1: 3
VACCCPT1: 3
VALTA: 1
VALTAm: 1
VLCS2p: 2
VLCS2r: 2
VLCSp: 1
VLCSr: 1
XANDp: 1
XAO2x: 1
XAOx: 1
XYLK: 1
XYLTer: 2
XYLUR: 1
HSD17B3r: 1
GNDc: 1
MTHFR3: 1
P5CR: 3
PGLc: 1
PRO1x: 1
RPEc: 1

In [13]:
print(len(reaction_sig.keys()))

1292

In [14]:
# read in DE genes
compass_data = pd.read_csv(data_dir + 'th_data/GSE162300_DFMO_RNA_est_counts.csv', sep = ',', index_col = 0) # this is library size normalized already
samples = list(set([i[:-9] for i in compass_data.columns]))

In [15]:
n_genes_total = len(compass_data.index)
n_genes_total

20817

In [16]:
# these are for thP vs N

In [17]:
de_genes_th_1 = pd.read_csv(data_dir + 'th_data/deseq_genes_th_uncollapse.csv', index_col = 0)
#de_genes_th_2 = pd.read_csv(data_dir + 'th_data/deseq_genes_th_collapse.csv', index_col = 0)

In [19]:
logfc_thresh = 0
p_thresh = 0.05

# for DE genes of Th17p vs Th17n

# subsystem scoring

In [20]:
all_genes = list(compass_data.index)
overlapping_terms, n_removed_terms = get_overlapping_met_genes(metabolism_sig, all_genes, verb = True)

Fatty acid oxidation	original: 32 | overlapping: 32 | removed: 0
Nucleotide interconversion	original: 102 | overlapping: 101 | removed: 1
Keratan sulfate degradation	original: 11 | overlapping: 11 | removed: 0
Sphingolipid metabolism	original: 29 | overlapping: 29 | removed: 0
Tyrosine metabolism	original: 34 | overlapping: 33 | removed: 1
Keratan sulfate synthesis	original: 15 | overlapping: 14 | removed: 1
Steroid metabolism	original: 25 | overlapping: 24 | removed: 1
Chondroitin synthesis	original: 30 | overlapping: 30 | removed: 0
Tryptophan metabolism	original: 36 | overlapping: 35 | removed: 1
Glycerophospholipid metabolism	original: 61 | overlapping: 59 | removed: 2
Inositol phosphate metabolism	original: 60 | overlapping: 60 | removed: 0
Folate metabolism	original: 11 | overlapping: 10 | removed: 1
Valine, leucine, and isoleucine metabolism	original: 31 | overlapping: 31 | removed: 0
Chondroitin sulfate degradation	original: 10 | overlapping: 10 | removed: 0
Cholesterol metabolism	original: 22 | overlapping: 21 | removed: 1
Arginine and Proline Metabolism	original: 33 | overlapping: 32 | removed: 1
Bile acid synthesis	original: 9 | overlapping: 9 | removed: 0
Fatty acid synthesis	original: 8 | overlapping: 8 | removed: 0
Glycine, serine, alanine and threonine metabolism	original: 23 | overlapping: 23 | removed: 0
Pyrimidine catabolism	original: 23 | overlapping: 23 | removed: 0
Blood group synthesis	original: 5 | overlapping: 5 | removed: 0
Pyruvate metabolism	original: 32 | overlapping: 31 | removed: 1
Aminosugar metabolism	original: 26 | overlapping: 26 | removed: 0
Heparan sulfate degradation	original: 6 | overlapping: 6 | removed: 0
Urea cycle	original: 17 | overlapping: 17 | removed: 0
Purine catabolism	original: 13 | overlapping: 13 | removed: 0
Eicosanoid metabolism	original: 19 | overlapping: 19 | removed: 0
Methionine and cysteine metabolism	original: 20 | overlapping: 19 | removed: 1
Lysine metabolism	original: 25 | overlapping: 24 | removed: 1
Starch and sucrose metabolism	original: 14 | overlapping: 13 | removed: 1
Pentose phosphate pathway	original: 12 | overlapping: 12 | removed: 0
NAD metabolism	original: 14 | overlapping: 14 | removed: 0
Vitamin A metabolism	original: 15 | overlapping: 12 | removed: 3
beta-Alanine metabolism	original: 21 | overlapping: 21 | removed: 0
Triacylglycerol synthesis	original: 24 | overlapping: 19 | removed: 5
Glyoxylate and dicarboxylate metabolism	original: 29 | overlapping: 28 | removed: 1
Glutamate metabolism	original: 11 | overlapping: 11 | removed: 0
Alanine and aspartate metabolism	original: 11 | overlapping: 11 | removed: 0
Histidine metabolism	original: 21 | overlapping: 20 | removed: 1
Selenoamino acid metabolism	original: 16 | overlapping: 15 | removed: 1
Tetrahydrobiopterin metabolism	original: 5 | overlapping: 5 | removed: 0
Glutathione metabolism	original: 13 | overlapping: 13 | removed: 0
Propanoate metabolism	original: 17 | overlapping: 17 | removed: 0
Biotin metabolism	original: 2 | overlapping: 2 | removed: 0
Limonene and pinene degradation	original: 13 | overlapping: 13 | removed: 0
Phenylalanine metabolism	original: 10 | overlapping: 10 | removed: 0
ROS detoxification	original: 4 | overlapping: 4 | removed: 0
Glycolysis/gluconeogenesis	original: 11 | overlapping: 11 | removed: 0
Pyrimidine synthesis	original: 6 | overlapping: 6 | removed: 0
Heme synthesis	original: 6 | overlapping: 6 | removed: 0
Galactose metabolism	original: 13 | overlapping: 13 | removed: 0
Purine synthesis	original: 4 | overlapping: 4 | removed: 0
Transport, extracellular	original: 18 | overlapping: 18 | removed: 0
Miscellaneous	original: 13 | overlapping: 13 | removed: 0
Hyaluronan metabolism	original: 7 | overlapping: 7 | removed: 0
Fructose and mannose metabolism	original: 12 | overlapping: 12 | removed: 0
C5-branched dibasic acid metabolism	original: 3 | overlapping: 3 | removed: 0
Oxidative phosphorylation	original: 65 | overlapping: 58 | removed: 7
N-glycan degradation	original: 6 | overlapping: 6 | removed: 0
Nucleotide salvage pathway	original: 2 | overlapping: 2 | removed: 0
Vitamin B2 metabolism	original: 7 | overlapping: 7 | removed: 0
Butanoate metabolism	original: 9 | overlapping: 9 | removed: 0
Vitamin C metabolism	original: 13 | overlapping: 12 | removed: 1
Cytochrome metabolism	original: 3 | overlapping: 3 | removed: 0
Vitamin B6 metabolism	original: 2 | overlapping: 2 | removed: 0
Taurine and hypotaurine metabolism	original: 4 | overlapping: 4 | removed: 0
Phosphatidylinositol phosphate metabolism	original: 7 | overlapping: 7 | removed: 0
Transport, mitochondrial	original: 2 | overlapping: 2 | removed: 0
Nucleotide sugar metabolism	original: 2 | overlapping: 2 | removed: 0
Alkaloid synthesis	original: 4 | overlapping: 4 | removed: 0
CoA synthesis	original: 2 | overlapping: 2 | removed: 0
Stilbene, coumarine and lignin synthesis	original: 1 | overlapping: 1 | removed: 0
O-glycan synthesis	original: 1 | overlapping: 1 | removed: 0
Ubiquinone synthesis	original: 1 | overlapping: 1 | removed: 0
CoA catabolism	original: 4 | overlapping: 4 | removed: 0
Citric acid cycle	original: 1 | overlapping: 1 | removed: 0
Transport, lysosomal	original: 22 | overlapping: 22 | removed: 0
Vitamin B12 metabolism	original: 1 | overlapping: 1 | removed: 0
N-glycan synthesis	original: 4 | overlapping: 4 | removed: 0
D-alanine metabolism	original: 1 | overlapping: 1 | removed: 0
Thiamine metabolism	original: 1 | overlapping: 1 | removed: 0

filter to at least 5 genes in signature & 70% of genes are retained

In [27]:
all_genes = list(compass_data.index)
overlapping_terms, n_removed_terms = get_overlapping_met_genes(metabolism_sig, all_genes, verb = False)

In [21]:
prop_removed = {}
for k,v in n_removed_terms.items():
    prop_removed[k] = (len(metabolism_sig[k]) - v)/len(metabolism_sig[k])
#plt.hist(prop_removed.values())

In [29]:
min_prop = 0.7
upper_range = 16
overlapping_terms_filter_all = {i:{} for i in range(1,upper_range)}
for min_length in range(1,upper_range):
    overlapping_terms_filter = {}
    for k,v in overlapping_terms.items():
        if (len(v) >= min_length) & (prop_removed[k] > min_prop):
            overlapping_terms_filter[k] = v
    overlapping_terms_filter_all[min_length] = overlapping_terms_filter

In [30]:
for k,v in overlapping_terms_filter_all.items():
    print(f'{k}: {len(v)}')

1: 81
2: 74
3: 68
4: 66
5: 60
6: 58
7: 54
8: 51
9: 50
10: 48
11: 45
12: 41
13: 37
14: 31
15: 29

In [41]:
def get_hypergeometric_results_compass_data(de_genes, metabolism, M = n_genes_total, p_thresh = p_thresh, logfc_thresh = logfc_thresh):
    res = {k: {} for k in ['pvn', 'nvp']}
    for key in ['pvn', 'nvp']:
        df = de_genes.copy()
        df = df[df['padj'] < p_thresh]
        if key == 'pvn':
            df = df[df['log2FoldChange'] > logfc_thresh]
        else:
            df = df[df['log2FoldChange'] < logfc_thresh]
            
        df['genes'] = df.index.str.upper()
        df_genes = set(df['genes'])
        N = len(df) # length of DE genes
        for k,v in metabolism.items():
            n = len(v) # number of met genes
            x = len(df_genes.intersection(v))
            pct_overlap = x/(N+n)

            if pct_overlap > 0:
                p_val = hypergeometric_test(total_genes_expressed=M, n_genes_of_interest=n, 
                                            n_genes_picked=N, n_overlap=x)
                res[key][k] = p_val
#             else:
#                 res[key][k] = 1
    return res

In [45]:
def format_hypergeom_res(res):
    res_df = pd.DataFrame.from_dict(res)
    res_df['term'] = res_df.index
    res_df['padj_pvn'] = adjust_p_value_bh(res_df['pvn'].values)
    res_df['padj_nvp'] = adjust_p_value_bh(res_df['nvp'].values)
    res_df['q_pvn'] = adjust_p_value_qval(res_df['pvn'].values,pi_0=None)
    res_df['q_nvp'] = adjust_p_value_qval(res_df['nvp'].values,pi_0=None)
    
    cols_pvn = ['pvn', 'term', 'padj_pvn', 'q_pvn']
    res_df_format = res_df[cols_pvn].reset_index(drop = True).copy()
    res_df_format.columns = ['p', 'term', 'padj', 'q']
    res_df_format = res_df_format[['term', 'p', 'padj', 'q']]
    res_pvn = res_df_format.copy()
    
    cols_nvp = ['nvp', 'term', 'padj_nvp', 'q_nvp']
    res_df_format = res_df[cols_nvp].reset_index(drop = True).copy()
    res_df_format.columns = ['p', 'term', 'padj', 'q']
    res_df_format = res_df_format[['term', 'p', 'padj', 'q']]
    res_nvp = res_df_format.copy()
    
    return res_pvn, res_nvp

In [67]:
res_pvn_all = {}
res_nvp_all = {}
for k,v in overlapping_terms_filter_all.items():
    res_pvn_all[k], res_nvp_all[k] = format_hypergeom_res(get_hypergeometric_results_compass_data(de_genes_th_1, v))

In [106]:
res_pvn_all[1][res_pvn_all[1]['q'] < 0.05]

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141
27,Pentose phosphate pathway,0.008620,NaN,0.047020
45,Purine synthesis,0.005890,NaN,0.040161
59,"Transport, lysosomal",0.010499,NaN,0.047724

In [105]:
res_nvp_all[1][res_nvp_all[1]['q'] < 0.05]

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
43                 Heme synthesis  0.002455   NaN  0.014876

In [103]:
res_nvp_all[1].to_csv(out_dir + 'results_Th17n_v_p_compass_rxns_q.csv')
res_pvn_all[1].to_csv(out_dir + 'results_Th17p_v_n_compass_rxns_q.csv')

In [96]:
for k,v in res_pvn_all.items():
    print(f"{k} genes: pvn: {len(v[v['q'] < 0.05])} nvp: {len(res_nvp_all[k][res_nvp_all[k]['q'] < 0.05])}")
    #display(v[v['q'] < 0.05])

1 genes: pvn: 6 nvp: 5
2 genes: pvn: 6 nvp: 5
3 genes: pvn: 6 nvp: 5
4 genes: pvn: 6 nvp: 5
5 genes: pvn: 3 nvp: 5
6 genes: pvn: 3 nvp: 5
7 genes: pvn: 3 nvp: 4
8 genes: pvn: 3 nvp: 4
9 genes: pvn: 3 nvp: 4
10 genes: pvn: 3 nvp: 4
11 genes: pvn: 3 nvp: 4
12 genes: pvn: 3 nvp: 4
13 genes: pvn: 3 nvp: 4
14 genes: pvn: 3 nvp: 4
15 genes: pvn: 3 nvp: 2

In [73]:
for k,v in res_pvn_all.items():
    print(f"{k}: {len(v[v['q'] < 0.05])}")
    display(v[v['q'] < 0.05])

1: 6

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141
27,Pentose phosphate pathway,0.008620,NaN,0.047020
45,Purine synthesis,0.005890,NaN,0.040161
59,"Transport, lysosomal",0.010499,NaN,0.047724

2: 6

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141
27,Pentose phosphate pathway,0.008620,NaN,0.047020
45,Purine synthesis,0.005890,NaN,0.040161
57,"Transport, lysosomal",0.010499,NaN,0.047724

3: 6

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141
27,Pentose phosphate pathway,0.008620,NaN,0.047020
44,Purine synthesis,0.005890,NaN,0.040161
54,"Transport, lysosomal",0.010499,NaN,0.047724

4: 6

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141
27,Pentose phosphate pathway,0.008620,NaN,0.047020
44,Purine synthesis,0.005890,NaN,0.040161
54,"Transport, lysosomal",0.010499,NaN,0.047724

5: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

6: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

7: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

8: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
17,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

9: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
16,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

10: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
12,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
16,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

11: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
11,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
14,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

12: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
10,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
13,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

13: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,NaN,0.031141
10,"Valine, leucine, and isoleucine metabolism",0.002096,NaN,0.031141
13,"Glycine, serine, alanine and threonine metabolism",0.003426,NaN,0.031141

14: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,0.035397,0.031141
10,"Valine, leucine, and isoleucine metabolism",0.002096,0.035397,0.031141
13,"Glycine, serine, alanine and threonine metabolism",0.003426,0.035397,0.031141

15: 3

,term,p,padj,q
1,Nucleotide interconversion,0.002879,0.033114,0.031141
9,"Valine, leucine, and isoleucine metabolism",0.002096,0.033114,0.031141
12,"Glycine, serine, alanine and threonine metabolism",0.003426,0.033114,0.031141

In [74]:
for k,v in res_nvp_all.items():
    print(f"{k}: {len(v[v['q'] < 0.05])}")
    display(v[v['q'] < 0.05])

1: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
43                 Heme synthesis  0.002455   NaN  0.014876

2: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
43                 Heme synthesis  0.002455   NaN  0.014876

3: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
42                 Heme synthesis  0.002455   NaN  0.014876

4: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
42                 Heme synthesis  0.002455   NaN  0.014876

5: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
42                 Heme synthesis  0.002455   NaN  0.014876

6: 5

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.016420
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.014876
20          Aminosugar metabolism  0.008583   NaN  0.031209
41                 Heme synthesis  0.002455   NaN  0.014876

7: 4

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.021894
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.017483
20          Aminosugar metabolism  0.008583   NaN  0.039012

8: 4

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.021894
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.017483
20          Aminosugar metabolism  0.008583   NaN  0.039012

9: 4

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.021894
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.017483
19          Aminosugar metabolism  0.008583   NaN  0.039012

10: 4

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.021894
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
14         Cholesterol metabolism  0.001923   NaN  0.017483
19          Aminosugar metabolism  0.008583   NaN  0.039012

11: 4

                             term         p  padj         q
5       Keratan sulfate synthesis  0.003612   NaN  0.021894
10  Inositol phosphate metabolism  0.000454   NaN  0.008258
12         Cholesterol metabolism  0.001923   NaN  0.017483
17          Aminosugar metabolism  0.008583   NaN  0.039012

12: 4

                             term         p  padj         q
4       Keratan sulfate synthesis  0.003612   NaN  0.021894
9   Inositol phosphate metabolism  0.000454   NaN  0.008258
11         Cholesterol metabolism  0.001923   NaN  0.017483
16          Aminosugar metabolism  0.008583   NaN  0.039012

13: 4

                             term         p      padj         q
4       Keratan sulfate synthesis  0.003612  0.044554  0.021894
9   Inositol phosphate metabolism  0.000454  0.016805  0.008258
11         Cholesterol metabolism  0.001923  0.035579  0.017483
16          Aminosugar metabolism  0.008583  0.079389  0.039012

14: 4

                             term         p      padj         q
4       Keratan sulfate synthesis  0.003612  0.037329  0.021894
9   Inositol phosphate metabolism  0.000454  0.014080  0.008258
11         Cholesterol metabolism  0.001923  0.029809  0.017483
16          Aminosugar metabolism  0.008583  0.066515  0.039012

15: 2

                             term         p      padj         q
8   Inositol phosphate metabolism  0.000454  0.013171  0.008258
10         Cholesterol metabolism  0.001923  0.027886  0.017483

# reaction scoring

In [76]:
all_genes = list(compass_data.index)
overlapping_terms_rxn, n_removed_terms_rxn = get_overlapping_met_genes(reaction_sig, all_genes, verb = True)

13DAMPPOX	original: 3 | overlapping: 3 | removed: 0
2HBO	original: 5 | overlapping: 5 | removed: 0
2OXOADOXm	original: 4 | overlapping: 4 | removed: 0
34DHOXPEGOX	original: 6 | overlapping: 6 | removed: 0
34DHPHAMT	original: 1 | overlapping: 1 | removed: 0
34DHPLACOX	original: 4 | overlapping: 3 | removed: 1
34DHPLACOX_NADP_	original: 3 | overlapping: 2 | removed: 1
34DHXMANDACOX	original: 3 | overlapping: 3 | removed: 0
34DHXMANDACOX_NADP_	original: 2 | overlapping: 1 | removed: 1
34HPPOR	original: 1 | overlapping: 1 | removed: 0
3AIBTm	original: 1 | overlapping: 1 | removed: 0
3DSPHR	original: 1 | overlapping: 1 | removed: 0
3HAO	original: 1 | overlapping: 1 | removed: 0
3HBCDm	original: 1 | overlapping: 1 | removed: 0
3HKYNAKGAT	original: 2 | overlapping: 1 | removed: 1
3HLYTCL	original: 1 | overlapping: 1 | removed: 0
3HPCOAHYD	original: 1 | overlapping: 1 | removed: 0
3HXKYNOXDA	original: 2 | overlapping: 2 | removed: 0
3M4HDXPAC	original: 4 | overlapping: 3 | removed: 1
3MOX4HOXPGALDOX	original: 4 | overlapping: 3 | removed: 1
3MOX4HOXPGALDOX_NADP_	original: 4 | overlapping: 3 | removed: 1
3MOXTYROX	original: 2 | overlapping: 2 | removed: 0
3NTD7l	original: 4 | overlapping: 4 | removed: 0
3SALACBOXL	original: 3 | overlapping: 3 | removed: 0
3SALATAi	original: 1 | overlapping: 1 | removed: 0
3SALATAim	original: 1 | overlapping: 1 | removed: 0
41R1H2MAE12BOOX	original: 2 | overlapping: 2 | removed: 0
41R2A1H12BOOX	original: 2 | overlapping: 2 | removed: 0
42A12BOOX	original: 5 | overlapping: 5 | removed: 0
4HGLSDm	original: 1 | overlapping: 1 | removed: 0
4HOXPACDOX_NADP_	original: 4 | overlapping: 3 | removed: 1
4NPHSULT	original: 1 | overlapping: 1 | removed: 0
5ADTSTSTERONESULT	original: 2 | overlapping: 2 | removed: 0
5HLTDL	original: 1 | overlapping: 1 | removed: 0
5HOXINDACTO2OX	original: 1 | overlapping: 1 | removed: 0
5HOXINDACTOXm	original: 3 | overlapping: 3 | removed: 0
5HOXINOXDA	original: 2 | overlapping: 2 | removed: 0
5HTRPDOX	original: 1 | overlapping: 1 | removed: 0
5HXKYNDCL	original: 1 | overlapping: 1 | removed: 0
5HXKYNOXDA	original: 2 | overlapping: 2 | removed: 0
A4GALTc	original: 1 | overlapping: 1 | removed: 0
A4GALTg	original: 1 | overlapping: 1 | removed: 0
AACOAT	original: 1 | overlapping: 1 | removed: 0
AACTOOR	original: 1 | overlapping: 1 | removed: 0
AATAi	original: 1 | overlapping: 1 | removed: 0
ABTArm	original: 1 | overlapping: 1 | removed: 0
ABUTD	original: 1 | overlapping: 1 | removed: 0
ACACT10m	original: 3 | overlapping: 3 | removed: 0
ACACT1x	original: 1 | overlapping: 1 | removed: 0
ACACT4p	original: 1 | overlapping: 1 | removed: 0
ACACT5p	original: 1 | overlapping: 1 | removed: 0
ACACT6p	original: 1 | overlapping: 1 | removed: 0
ACACT7p	original: 1 | overlapping: 1 | removed: 0
ACACT8p	original: 1 | overlapping: 1 | removed: 0
ACACT9p	original: 1 | overlapping: 1 | removed: 0
ACCOACm	original: 1 | overlapping: 1 | removed: 0
ACCOAL	original: 1 | overlapping: 1 | removed: 0
ACCOALm	original: 2 | overlapping: 2 | removed: 0
ACGAM2E	original: 1 | overlapping: 1 | removed: 0
ACGAM6PSi	original: 1 | overlapping: 1 | removed: 0
ACGAMK	original: 1 | overlapping: 1 | removed: 0
ACGAMPM	original: 1 | overlapping: 1 | removed: 0
ACGPID	original: 1 | overlapping: 1 | removed: 0
ACGSm	original: 1 | overlapping: 1 | removed: 0
ACHEe	original: 1 | overlapping: 1 | removed: 0
ACNAM9PL	original: 1 | overlapping: 1 | removed: 0
ACNAM9PL2	original: 1 | overlapping: 1 | removed: 0
ACNAMPH	original: 3 | overlapping: 3 | removed: 0
ACOAD10m	original: 2 | overlapping: 2 | removed: 0
ACOAD1fm	original: 7 | overlapping: 7 | removed: 0
ACOAD8m	original: 1 | overlapping: 1 | removed: 0
ACOAD9m	original: 2 | overlapping: 2 | removed: 0
ACOAO7p	original: 1 | overlapping: 1 | removed: 0
ACOATA	original: 1 | overlapping: 1 | removed: 0
ACODA	original: 1 | overlapping: 1 | removed: 0
ACOX22x	original: 1 | overlapping: 1 | removed: 0
ACOX2x	original: 1 | overlapping: 1 | removed: 0
ACP1_FMN_	original: 4 | overlapping: 4 | removed: 0
ACS	original: 2 | overlapping: 2 | removed: 0
ACS2	original: 2 | overlapping: 2 | removed: 0
ACSm	original: 1 | overlapping: 1 | removed: 0
ACSOMT	original: 1 | overlapping: 1 | removed: 0
ACSRTNMT	original: 1 | overlapping: 1 | removed: 0
ACYP	original: 3 | overlapping: 3 | removed: 0
ADA	original: 1 | overlapping: 1 | removed: 0
ADAe	original: 1 | overlapping: 1 | removed: 0
ADK1m	original: 2 | overlapping: 2 | removed: 0
ADKd	original: 1 | overlapping: 1 | removed: 0
ADMDC	original: 1 | overlapping: 1 | removed: 0
ADNCYC	original: 10 | overlapping: 10 | removed: 0
ADPGLC	original: 1 | overlapping: 1 | removed: 0
ADPMAN	original: 1 | overlapping: 1 | removed: 0
ADPRDP	original: 1 | overlapping: 1 | removed: 0
ADPRDPm	original: 1 | overlapping: 1 | removed: 0
ADPT	original: 1 | overlapping: 1 | removed: 0
ADRNCPT1	original: 3 | overlapping: 3 | removed: 0
ADSELK	original: 2 | overlapping: 2 | removed: 0
ADSK	original: 2 | overlapping: 2 | removed: 0
ADSL1	original: 1 | overlapping: 1 | removed: 0
ADSL2	original: 1 | overlapping: 1 | removed: 0
ADSS	original: 2 | overlapping: 2 | removed: 0
AG13T10g	original: 7 | overlapping: 6 | removed: 1
AG13T11g	original: 7 | overlapping: 6 | removed: 1
AG13T12g	original: 7 | overlapping: 6 | removed: 1
AG13T13g	original: 7 | overlapping: 6 | removed: 1
AG13T14g	original: 7 | overlapping: 6 | removed: 1
AG13T15g	original: 7 | overlapping: 6 | removed: 1
AG13T16g	original: 7 | overlapping: 6 | removed: 1
AG13T17g	original: 7 | overlapping: 6 | removed: 1
AG13T18g	original: 7 | overlapping: 6 | removed: 1
AG13T1g	original: 7 | overlapping: 6 | removed: 1
AG13T2g	original: 7 | overlapping: 6 | removed: 1
AG13T3g	original: 7 | overlapping: 6 | removed: 1
AG13T4g	original: 7 | overlapping: 6 | removed: 1
AG13T5g	original: 7 | overlapping: 6 | removed: 1
AG13T6g	original: 7 | overlapping: 6 | removed: 1
AG13T7g	original: 7 | overlapping: 6 | removed: 1
AG13T8g	original: 7 | overlapping: 6 | removed: 1
AG13T9g	original: 7 | overlapping: 6 | removed: 1
AGDC	original: 1 | overlapping: 1 | removed: 0
AGMTm	original: 1 | overlapping: 1 | removed: 0
AGPAT1	original: 7 | overlapping: 6 | removed: 1
AGPRim	original: 1 | overlapping: 1 | removed: 0
AGPSx	original: 1 | overlapping: 1 | removed: 0
AGTim	original: 2 | overlapping: 2 | removed: 0
AGTix	original: 1 | overlapping: 1 | removed: 0
AHC	original: 2 | overlapping: 1 | removed: 1
AHEXASE2ly	original: 2 | overlapping: 2 | removed: 0
AHEXASEly	original: 2 | overlapping: 2 | removed: 0
AICART	original: 1 | overlapping: 1 | removed: 0
AKR1C1	original: 1 | overlapping: 1 | removed: 0
AKR1C41	original: 1 | overlapping: 1 | removed: 0
AKR1C42	original: 1 | overlapping: 1 | removed: 0
AKR1D	original: 1 | overlapping: 1 | removed: 0
AKR1D2	original: 1 | overlapping: 1 | removed: 0
ALAR	original: 1 | overlapping: 1 | removed: 0
ALASm	original: 3 | overlapping: 3 | removed: 0
ALATA_L	original: 2 | overlapping: 2 | removed: 0
ALCD1	original: 7 | overlapping: 7 | removed: 0
ALCD21_D	original: 7 | overlapping: 7 | removed: 0
ALCD21_L	original: 7 | overlapping: 7 | removed: 0
ALCD22_D	original: 7 | overlapping: 7 | removed: 0
ALCD22_L	original: 7 | overlapping: 7 | removed: 0
ALDD20xm	original: 3 | overlapping: 3 | removed: 0
ALKP	original: 2 | overlapping: 2 | removed: 0
ALOX12	original: 1 | overlapping: 1 | removed: 0
ALOX12R	original: 1 | overlapping: 1 | removed: 0
ALOX15	original: 2 | overlapping: 2 | removed: 0
ALOX5	original: 1 | overlapping: 1 | removed: 0
ALOX52	original: 1 | overlapping: 1 | removed: 0
ALR2	original: 3 | overlapping: 3 | removed: 0
ALR3	original: 3 | overlapping: 3 | removed: 0
AMACR2p	original: 1 | overlapping: 1 | removed: 0
AMACR2r	original: 1 | overlapping: 1 | removed: 0
AMACRp	original: 1 | overlapping: 1 | removed: 0
AMACRr	original: 1 | overlapping: 1 | removed: 0
AMANK	original: 2 | overlapping: 2 | removed: 0
AMPDA	original: 3 | overlapping: 3 | removed: 0
AMPTASECG	original: 1 | overlapping: 1 | removed: 0
AMPTASECGe	original: 1 | overlapping: 1 | removed: 0
AP4AH1	original: 1 | overlapping: 1 | removed: 0
APAT2rm	original: 1 | overlapping: 1 | removed: 0
APRTO2	original: 2 | overlapping: 2 | removed: 0
ARABR	original: 3 | overlapping: 3 | removed: 0
ARACHCPT1	original: 3 | overlapping: 3 | removed: 0
ARGDCm	original: 1 | overlapping: 0 | removed: 1
ARGN	original: 2 | overlapping: 2 | removed: 0
ARGNm	original: 1 | overlapping: 1 | removed: 0
ARSA	original: 1 | overlapping: 1 | removed: 0
ASAH1	original: 1 | overlapping: 1 | removed: 0
ASNNm	original: 1 | overlapping: 1 | removed: 0
ASNS1	original: 1 | overlapping: 1 | removed: 0
ASP1DC	original: 1 | overlapping: 1 | removed: 0
ASPCTr	original: 1 | overlapping: 1 | removed: 0
ASPTA	original: 1 | overlapping: 1 | removed: 0
ASPTAm	original: 1 | overlapping: 1 | removed: 0
ATPasel	original: 22 | overlapping: 22 | removed: 0
ATPH1e	original: 5 | overlapping: 5 | removed: 0
ATPH2e	original: 6 | overlapping: 6 | removed: 0
ATPS4m	original: 17 | overlapping: 17 | removed: 0
B3GALT3g	original: 1 | overlapping: 1 | removed: 0
B3GALT41g	original: 1 | overlapping: 1 | removed: 0
B3GALT42g	original: 1 | overlapping: 1 | removed: 0
B3GALT43g	original: 1 | overlapping: 1 | removed: 0
B3GALT44g	original: 1 | overlapping: 1 | removed: 0
BAAT1x	original: 1 | overlapping: 1 | removed: 0
BAAT2x	original: 1 | overlapping: 1 | removed: 0
BAAT3x	original: 1 | overlapping: 1 | removed: 0
BAAT4x	original: 1 | overlapping: 1 | removed: 0
BACCL	original: 1 | overlapping: 1 | removed: 0
BACCLm	original: 1 | overlapping: 1 | removed: 0
BAMPPALDOX	original: 5 | overlapping: 5 | removed: 0
BAMPPALDOXm	original: 3 | overlapping: 3 | removed: 0
BBHOX	original: 1 | overlapping: 1 | removed: 0
BCDO	original: 1 | overlapping: 0 | removed: 1
BDHm	original: 1 | overlapping: 1 | removed: 0
BHMT	original: 2 | overlapping: 2 | removed: 0
BPNT	original: 1 | overlapping: 1 | removed: 0
BPNT2	original: 1 | overlapping: 1 | removed: 0
BTND1	original: 1 | overlapping: 1 | removed: 0
BTND1n	original: 1 | overlapping: 1 | removed: 0
BTNDe	original: 1 | overlapping: 1 | removed: 0
BTNDm	original: 1 | overlapping: 1 | removed: 0
BUP2	original: 1 | overlapping: 1 | removed: 0
C14STRr	original: 1 | overlapping: 1 | removed: 0
C160CPT1	original: 3 | overlapping: 3 | removed: 0
C160CPT2	original: 2 | overlapping: 2 | removed: 0
C161CPT1	original: 3 | overlapping: 3 | removed: 0
C161CPT12	original: 3 | overlapping: 3 | removed: 0
C161CPT22	original: 1 | overlapping: 1 | removed: 0
C180CPT1	original: 3 | overlapping: 3 | removed: 0
C180CPT2	original: 1 | overlapping: 1 | removed: 0
C181CPT1	original: 3 | overlapping: 3 | removed: 0
C204CPT1	original: 3 | overlapping: 3 | removed: 0
C226CPT1	original: 3 | overlapping: 3 | removed: 0
C2M26DCOAHLm	original: 3 | overlapping: 3 | removed: 0
C2M26DCOAHLx	original: 2 | overlapping: 2 | removed: 0
CAATPS	original: 4 | overlapping: 4 | removed: 0
CAT2p	original: 1 | overlapping: 1 | removed: 0
CATm	original: 1 | overlapping: 1 | removed: 0
CBLATm	original: 1 | overlapping: 1 | removed: 0
CBPSam	original: 1 | overlapping: 1 | removed: 0
CBR1	original: 1 | overlapping: 1 | removed: 0
CBR2	original: 1 | overlapping: 1 | removed: 0
CDIPTr	original: 1 | overlapping: 1 | removed: 0
CDS	original: 2 | overlapping: 2 | removed: 0
CDSm	original: 2 | overlapping: 2 | removed: 0
CERK	original: 1 | overlapping: 1 | removed: 0
CHAT	original: 1 | overlapping: 1 | removed: 0
CHATn	original: 1 | overlapping: 1 | removed: 0
CHLPCTD	original: 2 | overlapping: 2 | removed: 0
CHOLD2m	original: 1 | overlapping: 1 | removed: 0
CHSTEROLSULT	original: 2 | overlapping: 2 | removed: 0
CHTNASE	original: 3 | overlapping: 3 | removed: 0
CHTNASEe	original: 1 | overlapping: 1 | removed: 0
CK	original: 2 | overlapping: 2 | removed: 0
CKc	original: 2 | overlapping: 2 | removed: 0
CLPNDCPT1	original: 3 | overlapping: 3 | removed: 0
CMPSAS	original: 1 | overlapping: 1 | removed: 0
CMPSASn	original: 1 | overlapping: 1 | removed: 0
COKECBESr	original: 1 | overlapping: 1 | removed: 0
CPCTDTX	original: 2 | overlapping: 2 | removed: 0
CPPPGO	original: 1 | overlapping: 1 | removed: 0
CSNAT2m	original: 1 | overlapping: 1 | removed: 0
CSNAT2x	original: 2 | overlapping: 2 | removed: 0
CSNAT3x	original: 1 | overlapping: 1 | removed: 0
CSNATer	original: 1 | overlapping: 1 | removed: 0
CSNATm	original: 1 | overlapping: 1 | removed: 0
CSNATp	original: 1 | overlapping: 1 | removed: 0
CSNATr	original: 1 | overlapping: 1 | removed: 0
CYSO	original: 1 | overlapping: 1 | removed: 0
CYSTA	original: 1 | overlapping: 1 | removed: 0
CYSTAm	original: 1 | overlapping: 1 | removed: 0
CYSTGL	original: 1 | overlapping: 1 | removed: 0
CYSTS	original: 1 | overlapping: 1 | removed: 0
CYTD	original: 2 | overlapping: 2 | removed: 0
CYTDn	original: 1 | overlapping: 1 | removed: 0
CYTK10	original: 1 | overlapping: 1 | removed: 0
CYTK10n	original: 1 | overlapping: 1 | removed: 0
CYTK11	original: 1 | overlapping: 1 | removed: 0
CYTK11n	original: 1 | overlapping: 1 | removed: 0
CYTK12	original: 1 | overlapping: 1 | removed: 0
CYTK12n	original: 1 | overlapping: 1 | removed: 0
CYTK13	original: 1 | overlapping: 1 | removed: 0
CYTK13n	original: 1 | overlapping: 1 | removed: 0
CYTK14	original: 1 | overlapping: 1 | removed: 0
CYTK14n	original: 1 | overlapping: 1 | removed: 0
CYTK1n	original: 1 | overlapping: 1 | removed: 0
CYTK2n	original: 1 | overlapping: 1 | removed: 0
CYTK3n	original: 1 | overlapping: 1 | removed: 0
CYTK4n	original: 1 | overlapping: 1 | removed: 0
CYTK5	original: 1 | overlapping: 1 | removed: 0
CYTK5n	original: 1 | overlapping: 1 | removed: 0
CYTK6	original: 1 | overlapping: 1 | removed: 0
CYTK6n	original: 1 | overlapping: 1 | removed: 0
CYTK7	original: 1 | overlapping: 1 | removed: 0
CYTK7n	original: 1 | overlapping: 1 | removed: 0
CYTK8	original: 1 | overlapping: 1 | removed: 0
CYTK8n	original: 1 | overlapping: 1 | removed: 0
CYTK9	original: 1 | overlapping: 1 | removed: 0
CYTK9n	original: 1 | overlapping: 1 | removed: 0
D3AIBTm	original: 1 | overlapping: 1 | removed: 0
DADA	original: 1 | overlapping: 1 | removed: 0
DADAe	original: 1 | overlapping: 1 | removed: 0
DAGK_hs	original: 9 | overlapping: 9 | removed: 0
DAGKn_hs	original: 2 | overlapping: 2 | removed: 0
DALAOXx	original: 1 | overlapping: 1 | removed: 0
DARGOp	original: 1 | overlapping: 1 | removed: 0
DASCBR	original: 2 | overlapping: 2 | removed: 0
DASPO1p	original: 1 | overlapping: 1 | removed: 0
DCIm	original: 2 | overlapping: 2 | removed: 0
DCK1n	original: 1 | overlapping: 1 | removed: 0
DCK2n	original: 1 | overlapping: 1 | removed: 0
DCMPDA	original: 1 | overlapping: 1 | removed: 0
DCSPTN1CPT1	original: 3 | overlapping: 3 | removed: 0
DCT	original: 1 | overlapping: 1 | removed: 0
DCYTD	original: 2 | overlapping: 2 | removed: 0
DCYTDn	original: 1 | overlapping: 1 | removed: 0
DESAT16_2	original: 1 | overlapping: 1 | removed: 0
DESAT18_10	original: 1 | overlapping: 1 | removed: 0
DESAT18_3	original: 1 | overlapping: 1 | removed: 0
DESAT18_4	original: 1 | overlapping: 1 | removed: 0
DESAT18_5	original: 1 | overlapping: 1 | removed: 0
DESAT18_6	original: 1 | overlapping: 1 | removed: 0
DESAT18_7	original: 1 | overlapping: 1 | removed: 0
DESAT18_8	original: 1 | overlapping: 1 | removed: 0
DESAT18_9	original: 2 | overlapping: 2 | removed: 0
DESAT20_1	original: 1 | overlapping: 1 | removed: 0
DESAT20_2	original: 1 | overlapping: 1 | removed: 0
DESAT24_1	original: 1 | overlapping: 1 | removed: 0
DGNSKm	original: 1 | overlapping: 1 | removed: 0
DHAPA	original: 1 | overlapping: 1 | removed: 0
DHAPAx	original: 1 | overlapping: 1 | removed: 0
DHCR71r	original: 1 | overlapping: 1 | removed: 0
DHCR72r	original: 1 | overlapping: 1 | removed: 0
DHDPBMTm	original: 1 | overlapping: 1 | removed: 0
DHEASULT	original: 3 | overlapping: 3 | removed: 0
DHFR	original: 1 | overlapping: 1 | removed: 0
DHORD9	original: 1 | overlapping: 1 | removed: 0
DHORTS	original: 1 | overlapping: 1 | removed: 0
DHPM1	original: 3 | overlapping: 3 | removed: 0
DHPM2	original: 1 | overlapping: 1 | removed: 0
DHPR	original: 1 | overlapping: 1 | removed: 0
DLNLCGCPT1	original: 3 | overlapping: 3 | removed: 0
DMATT	original: 1 | overlapping: 1 | removed: 0
DMATTx	original: 1 | overlapping: 1 | removed: 0
DMGDHm	original: 1 | overlapping: 1 | removed: 0
DNAMTn	original: 4 | overlapping: 4 | removed: 0
DNAMTSEn	original: 4 | overlapping: 4 | removed: 0
DOPABMO	original: 2 | overlapping: 2 | removed: 0
DOPACHRMISO	original: 1 | overlapping: 1 | removed: 0
DOPAMT	original: 1 | overlapping: 1 | removed: 0
DOPASULT	original: 1 | overlapping: 1 | removed: 0
DORNOp	original: 1 | overlapping: 1 | removed: 0
DPMVDx	original: 1 | overlapping: 1 | removed: 0
DPROOp	original: 1 | overlapping: 1 | removed: 0
DRBK	original: 1 | overlapping: 1 | removed: 0
DRPA	original: 1 | overlapping: 1 | removed: 0
DURAD	original: 1 | overlapping: 1 | removed: 0
DURAD2	original: 1 | overlapping: 1 | removed: 0
DURIK1	original: 2 | overlapping: 2 | removed: 0
DURIK1m	original: 1 | overlapping: 1 | removed: 0
DUTPDPm	original: 2 | overlapping: 2 | removed: 0
DUTPDPn	original: 1 | overlapping: 1 | removed: 0
EBP1r	original: 1 | overlapping: 1 | removed: 0
EBP2r	original: 1 | overlapping: 1 | removed: 0
ECOAH12m	original: 3 | overlapping: 3 | removed: 0
ECOAH1m	original: 4 | overlapping: 4 | removed: 0
ECOAH1x	original: 2 | overlapping: 2 | removed: 0
ECOAH9m	original: 3 | overlapping: 3 | removed: 0
EHGLAT	original: 1 | overlapping: 1 | removed: 0
EHGLAT2m	original: 1 | overlapping: 1 | removed: 0
EHGLATm	original: 1 | overlapping: 1 | removed: 0
EICOSTETCPT1	original: 3 | overlapping: 3 | removed: 0
ELAIDCPT1	original: 3 | overlapping: 3 | removed: 0
EPCTX	original: 1 | overlapping: 1 | removed: 0
ESTSULT	original: 2 | overlapping: 2 | removed: 0
ETFQO	original: 1 | overlapping: 1 | removed: 0
ETHAK	original: 4 | overlapping: 4 | removed: 0
FA120ACPH	original: 1 | overlapping: 1 | removed: 0
FA140ACPH	original: 1 | overlapping: 1 | removed: 0
FA141ACPH	original: 1 | overlapping: 1 | removed: 0
FA160ACPH	original: 2 | overlapping: 2 | removed: 0
FA161ACPH	original: 1 | overlapping: 1 | removed: 0
FA180ACPH	original: 1 | overlapping: 1 | removed: 0
FA181ACPH	original: 1 | overlapping: 1 | removed: 0
FA182ACPH	original: 1 | overlapping: 1 | removed: 0
FACOAL140i	original: 1 | overlapping: 1 | removed: 0
FACOAL150	original: 3 | overlapping: 3 | removed: 0
FACOAL160i	original: 5 | overlapping: 5 | removed: 0
FACOAL170	original: 3 | overlapping: 3 | removed: 0
FACOAL180i	original: 3 | overlapping: 3 | removed: 0
FACOAL1812	original: 1 | overlapping: 1 | removed: 0
FACOAL1813	original: 1 | overlapping: 1 | removed: 0
FACOAL181i	original: 4 | overlapping: 4 | removed: 0
FACOAL1821	original: 4 | overlapping: 4 | removed: 0
FACOAL1822	original: 1 | overlapping: 1 | removed: 0
FACOAL1831	original: 6 | overlapping: 6 | removed: 0
FACOAL1832	original: 1 | overlapping: 1 | removed: 0
FACOAL184	original: 1 | overlapping: 1 | removed: 0
FACOAL191	original: 1 | overlapping: 1 | removed: 0
FACOAL200	original: 1 | overlapping: 1 | removed: 0
FACOAL203	original: 1 | overlapping: 1 | removed: 0
FACOAL204	original: 4 | overlapping: 4 | removed: 0
FACOAL2042	original: 1 | overlapping: 1 | removed: 0
FACOAL205	original: 1 | overlapping: 1 | removed: 0
FACOAL206	original: 1 | overlapping: 1 | removed: 0
FACOAL224	original: 1 | overlapping: 1 | removed: 0
FACOAL2251	original: 1 | overlapping: 1 | removed: 0
FACOAL2252	original: 1 | overlapping: 1 | removed: 0
FACOAL226	original: 1 | overlapping: 1 | removed: 0
FACOAL240	original: 1 | overlapping: 1 | removed: 0
FACOAL241	original: 1 | overlapping: 1 | removed: 0
FACOAL244_1	original: 1 | overlapping: 1 | removed: 0
FACOAL245_1	original: 1 | overlapping: 1 | removed: 0
FACOAL245_2	original: 1 | overlapping: 1 | removed: 0
FACOAL246_1	original: 1 | overlapping: 1 | removed: 0
FACOAL260	original: 1 | overlapping: 1 | removed: 0
FACOAL40im	original: 1 | overlapping: 1 | removed: 0

filter to at least 5 genes in signature & 70% of genes are retained

In [77]:
prop_removed_rxn = {}
for k,v in n_removed_terms_rxn.items():
    prop_removed_rxn[k] = (len(reaction_sig[k]) - v)/len(reaction_sig[k])
#plt.hist(prop_removed.values())

In [83]:
min_prop = 0.7
upper_range = 16
overlapping_terms_filter_all_rxn = {i:{} for i in range(1,upper_range)}
for min_length in range(1,upper_range):
    overlapping_terms_filter_rxn = {}
    for k,v in overlapping_terms_rxn.items():
        if (len(v) >= min_length) & (prop_removed_rxn[k] > min_prop):
            overlapping_terms_filter_rxn[k] = v
    overlapping_terms_filter_all_rxn[min_length] = overlapping_terms_filter_rxn

In [84]:
for k,v in overlapping_terms_filter_all_rxn.items():
    print(f'{k}: {len(v)}')

1: 1259
2: 549
3: 352
4: 230
5: 96
6: 71
7: 35
8: 21
9: 15
10: 10
11: 9
12: 9
13: 8
14: 7
15: 7

In [85]:
res_pvn_all_rxn = {}
res_nvp_all_rxn = {}
for k,v in overlapping_terms_filter_all_rxn.items():
    res_pvn_all_rxn[k], res_nvp_all_rxn[k] = format_hypergeom_res(get_hypergeometric_results_compass_data(de_genes_th_1, v))

In [97]:
for k,v in res_pvn_all_rxn.items():
    print(f"{k} genes: pvn: {len(v[v['q'] < 0.05])} nvp: {len(res_nvp_all_rxn[k][res_nvp_all_rxn[k]['q'] < 0.05])}")
    #display(v[v['q'] < 0.05])

1 genes: pvn: 430 nvp: 423
2 genes: pvn: 248 nvp: 333
3 genes: pvn: 212 nvp: 252
4 genes: pvn: 175 nvp: 164
5 genes: pvn: 0 nvp: 5
6 genes: pvn: 0 nvp: 5
7 genes: pvn: 0 nvp: 5
8 genes: pvn: 0 nvp: 5
9 genes: pvn: 0 nvp: 5
10 genes: pvn: 0 nvp: 0
11 genes: pvn: 0 nvp: 0
12 genes: pvn: 0 nvp: 0
13 genes: pvn: 0 nvp: 0
14 genes: pvn: 0 nvp: 0
15 genes: pvn: 0 nvp: 0

In [ ]:
sig_res_pvn = res_pvn_all_rxn[1]
sig_res_nvp = res_nvp_all_rxn[1]

In [99]:
res_nvp_all_rxn[1]

          term         p  padj         q
0         2HBO  0.469120   NaN  0.010935
1    2OXOADOXm       NaN   NaN       NaN
2    34DHPHAMT       NaN   NaN       NaN
3       3HBCDm       NaN   NaN       NaN
4      4HGLSDm       NaN   NaN       NaN
..         ...       ...   ...       ...
687    UGALGTg  0.316079   NaN  0.008281
688      URIK1  0.316079   NaN  0.008281
689   VACCCPT1  0.316079   NaN  0.008281
690     XYLTer  0.223741   NaN  0.007590
691       PGLc  0.118941   NaN  0.006007

[692 rows x 4 columns]

In [93]:
for k,v in res_pvn_all_rxn.items():
    print(f"{k}: {len(v[v['q'] < 0.05])}")
    display(v[v['q'] < 0.05])

1: 430

          term         p  padj         q
0         2HBO  0.108134   NaN  0.005105
1    2OXOADOXm  0.070256   NaN  0.005105
2    34DHPHAMT  0.117356   NaN  0.005105
3       3HBCDm  0.117356   NaN  0.005105
4      4HGLSDm  0.117356   NaN  0.005105
..         ...       ...   ...       ...
425     VALTAm  0.117356   NaN  0.005105
426      XYLUR  0.117356   NaN  0.005105
427       GNDc  0.117356   NaN  0.005105
428       P5CR  0.312380   NaN  0.009606
429       RPEc  0.117356   NaN  0.005105

[430 rows x 4 columns]

2: 248

              term         p  padj         q
0             2HBO  0.108134   NaN  0.018808
1        2OXOADOXm  0.070256   NaN  0.018808
2    5HOXINDACTOXm  0.312380   NaN  0.018808
3         ACACT10m  0.312380   NaN  0.018808
4            ADK1m  0.220945   NaN  0.018808
..             ...       ...   ...       ...
243   T2M26DCOAHLm  0.312380   NaN  0.018808
244          TRPO2  0.312380   NaN  0.018808
245        UGT1A2r  0.312380   NaN  0.018808
246       UGT1A5r2  0.393088   NaN  0.018808
247           P5CR  0.312380   NaN  0.018808

[248 rows x 4 columns]

3: 212

              term         p  padj         q
0             2HBO  0.108134   NaN  0.023205
1        2OXOADOXm  0.070256   NaN  0.023205
2    5HOXINDACTOXm  0.312380   NaN  0.023205
3         ACACT10m  0.312380   NaN  0.023205
4         AG13T10g  0.527206   NaN  0.024453
..             ...       ...   ...       ...
207   T2M26DCOAHLm  0.312380   NaN  0.023205
208          TRPO2  0.312380   NaN  0.023205
209        UGT1A2r  0.312380   NaN  0.023205
210       UGT1A5r2  0.393088   NaN  0.023205
211           P5CR  0.312380   NaN  0.023205

[212 rows x 4 columns]

4: 175

          term         p  padj         q
0         2HBO  0.108134   NaN  0.029955
1    2OXOADOXm  0.070256   NaN  0.029955
2     AG13T10g  0.527206   NaN  0.029955
3     AG13T11g  0.527206   NaN  0.029955
4     AG13T12g  0.527206   NaN  0.029955
..         ...       ...   ...       ...
171  SIAASE2ly  0.393088   NaN  0.029955
172  SIAASE3ly  0.393088   NaN  0.029955
173  SIAASE4ly  0.393088   NaN  0.029955
174   SIAASEly  0.393088   NaN  0.029955
175   UGT1A5r2  0.393088   NaN  0.029955

[175 rows x 4 columns]

5: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

6: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

7: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

8: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

9: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

10: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

11: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

12: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

13: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

14: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

15: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

In [94]:
for k,v in res_nvp_all_rxn.items():
    print(f"{k}: {len(v[v['q'] < 0.05])}")
    display(v[v['q'] < 0.05])

1: 423

              term         p  padj         q
0             2HBO  0.469120   NaN  0.010935
5    5HOXINDACTOXm  0.316079   NaN  0.008281
7         ACACT10m  0.316079   NaN  0.008281
19            ADSS  0.223741   NaN  0.007590
20        AG13T10g  0.532279   NaN  0.011576
..             ...       ...   ...       ...
687        UGALGTg  0.316079   NaN  0.008281
688          URIK1  0.316079   NaN  0.008281
689       VACCCPT1  0.316079   NaN  0.008281
690         XYLTer  0.223741   NaN  0.007590
691           PGLc  0.118941   NaN  0.006007

[423 rows x 4 columns]

2: 333

              term         p  padj         q
0             2HBO  0.469120   NaN  0.014216
2    5HOXINDACTOXm  0.316079   NaN  0.011181
3         ACACT10m  0.316079   NaN  0.011181
5             ADSS  0.223741   NaN  0.011181
6         AG13T10g  0.532279   NaN  0.014753
..             ...       ...   ...       ...
415          TYRTA  0.223741   NaN  0.011181
416        UGALGTg  0.316079   NaN  0.011181
417          URIK1  0.316079   NaN  0.011181
418       VACCCPT1  0.316079   NaN  0.011181
419         XYLTer  0.223741   NaN  0.011181

[333 rows x 4 columns]

3: 252

              term         p  padj         q
0             2HBO  0.469120   NaN  0.019474
2    5HOXINDACTOXm  0.316079   NaN  0.016326
3         ACACT10m  0.316079   NaN  0.016326
4         AG13T10g  0.532279   NaN  0.019591
5         AG13T11g  0.532279   NaN  0.019591
..             ...       ...   ...       ...
307       TRYPTAOX  0.397437   NaN  0.017454
308        TTDCPT1  0.316079   NaN  0.016326
309        UGALGTg  0.316079   NaN  0.016326
310          URIK1  0.316079   NaN  0.016326
311       VACCCPT1  0.316079   NaN  0.016326

[252 rows x 4 columns]

4: 164

         term         p  padj         q
0        2HBO  0.469120   NaN  0.030243
2    AG13T10g  0.532279   NaN  0.030243
3    AG13T11g  0.532279   NaN  0.030243
4    AG13T12g  0.532279   NaN  0.030243
5    AG13T13g  0.532279   NaN  0.030243
..        ...       ...   ...       ...
204   PI45P5P  0.469120   NaN  0.030243
205    PI4P3K  0.009127   NaN  0.008613
206    PI4P5K  0.587926   NaN  0.032992
207      PIK3  0.013398   NaN  0.008613
208  TRYPTAOX  0.397437   NaN  0.030109

[164 rows x 4 columns]

5: 5

       term         p  padj         q
61  PI45PLC  0.025541   NaN  0.046438
63    PIPLC  0.025541   NaN  0.046438
74  PI45P3K  0.015346   NaN  0.046438
76   PI4P3K  0.009127   NaN  0.046438
78     PIK3  0.013398   NaN  0.046438

6: 5

       term         p  padj         q
47  PI45PLC  0.025541   NaN  0.046438
49    PIPLC  0.025541   NaN  0.046438
57  PI45P3K  0.015346   NaN  0.046438
58   PI4P3K  0.009127   NaN  0.046438
60     PIK3  0.013398   NaN  0.046438

7: 5

       term         p  padj         q
16  PI45PLC  0.025541   NaN  0.046438
17    PIPLC  0.025541   NaN  0.046438
24  PI45P3K  0.015346   NaN  0.046438
25   PI4P3K  0.009127   NaN  0.046438
27     PIK3  0.013398   NaN  0.046438

8: 5

       term         p  padj         q
10  PI45PLC  0.025541   NaN  0.046438
11    PIPLC  0.025541   NaN  0.046438
15  PI45P3K  0.015346   NaN  0.046438
16   PI4P3K  0.009127   NaN  0.046438
17     PIK3  0.013398   NaN  0.046438

9: 5

       term         p      padj         q
9   PI45PLC  0.025541  0.076623  0.046438
10    PIPLC  0.025541  0.076623  0.046438
12  PI45P3K  0.015346  0.076623  0.046438
13   PI4P3K  0.009127  0.076623  0.046438
14     PIK3  0.013398  0.076623  0.046438

10: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

11: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

12: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

13: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

14: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []

15: 0

Empty DataFrame
Columns: [term, p, padj, q]
Index: []